[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
c_spl_wrapper = "F7e5FyeG8StgnEDWTgBZSYyacfQuzgtHCxu1qg9ucseR"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = '~\.config\solana\id.json'

[scripts]
test = "yarn run mocha -t 1000000 tests/"
